.carousel {
  width: 600px;
  margin: 3em auto;
  position: relative;
}

.carousel-item {
  display: none;
}

.carousel-item img {
  width: 100%;
  z-index: 1;
}

.visible {
  display: block;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-group button {
  height: 100%;
  margin: 1em;
  cursor: pointer;
}

.btn-group button .fa-solid {
  padding: 1em;
}
